[submodule "apache"]
	path = apache
	url = git@github.com:he8us/puppet-apache.git
[submodule "php"]
	path = php
	url = git@github.com:he8us/puppet-php.git
[submodule "project"]
	path = project
	url = git@github.com:he8us/puppet-project.git
[submodule "mysql"]
	path = mysql
	url = git@github.com:he8us/puppet-mysql.git
[submodule "resolver"]
	path = resolver
	url = git@github.com:he8us/puppet-resolver.git
[submodule "tools"]
	path = tools
	url = https://github.com/Xzan/puppet-tools
[submodule "phpmyadmin"]
	path = phpmyadmin
	url = git@github.com:he8us/puppet-phpmyadmin.git
[submodule "symfony2"]
	path = symfony2
	url = git@github.com:he8us/puppet-symfony2.git
[submodule "silex"]
	path = silex
	url = git@github.com:he8us/puppet-silex.git
